/PD1617TP/build/*
/PD1617TP/dist/*
/PD1617TP/nbproject/*
/PD1617TP/nbproject/private/private.properties

/PD1617TPLib/build/*
/PD1617TPLib/dist/*
/PD1617TPLib/nbproject/*

/PD1617TP/PD1617TP-ejb/build/*
/PD1617TP/PD1617TP-ejb/dist/*
/PD1617TP/PD1617TP-ejb/nbproject/*

/PD1617TP-RemoteClient/build/*
/PD1617TP-RemoteClient/dist/*
/PD1617TP-RemoteClient/nbproject/*




