/PD1617TPLib/build/
/PD1617TPLib/dist/
/PD1617TPLib/nbproject/private/
/PD1617TP-RemoteClient/nbproject/private/
/PD1617TP-RemoteClient/build/
/PD1617TP-RemoteClient/dist/
/PD1617TP/PD1617TP-ejb/dist/